body, html {
	height: 100%;
	width: 100%;
}

.container {
	height: 100%;
}

.col-sm-6 {
	height: 80%;
	background-color: orangered;
}

.col-sm-4 {
	height: 270px;
	border: 2px solid black;
}


.logo:hover {
	cursor: crosshair;
}

span {
	color: orangered;
}
/*  Navigation bar  */

nav {
	display: inline-block;
}

ul {
	font-family: 'Orbitron', sans-serif;
	display: inline-block;
	margin: 20px;
	list-style-type: none;
	padding: 20px;
	transition: 1s;
}

li:hover {
	transform: translateX(5px) scale(1.1);
	background-color: orangered;
	color: white;
	cursor: crosshair;
}

/* cart */

.cart {
	color: black !important;
	font-size:10px !important;
	transition: 1s;
	padding:10px !important;
	margin-left:0px !important; 
}

.cart:hover {
	padding:20px;
	background-color: #e2e2e2;
}

.cart-list {
	padding: 5px !important;
	 margin:0px !important;
}

.cart-list:hover {
	color: black;
	background-color: white !important;
}

.total-count {
	color: red;
}

.total-count:hover {
	color:white !important;
}

/*  User tab  */

.userTab {
	font-family: 'Orbitron', sans-serif;
	padding: 10px;
	position: fixed;
	right:0;
	display: inline-block;
	transition: 1s;
}

.userTab:hover {
	transform: scale(1.1);
	background-color: orangered;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.userTabBtn {
	paddin-left:10px;
	padding-right: 20px;
}

/*  Product Image  */

.productImage {
	height: 20%;
	float: left;
	margin: 100px;
	transition: 1s;
}

.productImage:hover {
	transform: scale(1.3);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*  Product thumbnails  */

.thumbnail {
	padding: 5px;
	height: 80px;
	width:80px;
	transition: 1s;
}

.thumbnail:hover {
	background-color: orangered;
	transform: scale(1.1);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

select {
	font-family: 'Orbitron', sans-serif;
	padding: 3px;
}

option {
	padding: 3px;
}


/*  Heading Styles  */

h2 {
	color: orangered;
}

h2:hover {
	cursor: default;
}

h1 {
	font-family: 'Orbitron', sans-serif;
	font-size: 25px !important;
	padding-top: 20px;
	margin-left: 40px;
}

h1:hover {
	cursor: default;
}

h3 {
	font-size: 18px !important;
	font-family: 'Orbitron', sans-serif;
}

h3:hover {
	cursor: default;
}


h4 {
	color: orangered;
	font-size: 18px !important;
	font-family: 'Orbitron', sans-serif;
}

h4:hover {
	cursor: default;
}

/*  Tagline  */

.tag {
	font-size: 12px;
	margin-left: 40px;
	font-family: 'Orbitron', sans-serif;
}

/*  Span element  */

span {
	color: orangered;
}

/*  Button  */

button {
	border-radius: 50px;
	transition:1s;
	border: 2px solid white;
}

button:hover {
	opacity: 1;
	background-color: orangered;
	color: white;
	transform: rotateY(35deg);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*  Paragraph Styles  */

p {
	font-size: 14px;
}

p:hover {
	cursor: default;
}

/*  Paragraph info  */

.productInfo {
	padding: 50px;
}

/*  Size box  */

.sizeBox {
	margin-left: 10px;
	padding: 20px;
}
/*  Link styles  */

a:active {
	color: white;
}

a {
	color: black !important;
	text-decoration: none;
}

a:hover {
	color: white !important;
	text-decoration: none !important;
}

/*  Cart styling  */

#cartImg {
	background-image: url(../resources/cart.png);
	background-repeat: none;
}

/*  Footer styles  */

footer {
	font-size: 12px !important;
	font-family: 'Orbitron', sans-serif;
	padding: 10px;
	text-align: center;
	margin: 20px 50px 20px 50px;
}

footer:hover {
	cursor: default;
}